/images/*
/models/*
/plots/*
/res/*
!/res/datasets/
/res/datasets/*
!/res/datasets/jiwon/
# this is wrong git condition !/res/datasets/jiwon*
/src/*


/stats/original_vs_grammatical.txt
project_log.txt
README_cp.md