/images/*
/models/*
/plots/*

/res/*
!/res/datasets/
/res/datasets/jiwon/original/

!/res/datasets/jiwon/*.txt

# this is wrong git condition !/res/datasets/jiwon*



#/src/*
#!/src/data_processing.py
#!src/rule_based.py
#!src/utils.py
#!src/extract_baseline_features.py

./idea/*
/stats/original_vs_grammatical.txt
project_log.txt
README_cp.md